<ion-view title="Přibližné zlomky">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="EuklidController" scroll="false">

    <div class="row">
      <div class="col">
          <label class="item item-input">
            <input type="tel" ng-model="values.numerator" placeholder="čitatel" ng-enter="calculate()">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="tel" ng-model="values.divisor" placeholder="jmenovatel" ng-enter="calculate()">
          </label>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block icon-left ion-calculator button-positive" ng-click="calculate()">
          Vypočítej
        </button>
      </div>
    </div>

    <div class="row" ng-if="values.P">
      <div class="col">
        <div class="item range range-positive">
          <a href="" class="button button-clear button-assertive icon ion-minus-round" ng-click="changeStep(values.step - 1)"></a>
          <input type="range" ng-model="values.step" min="-1" max="{{values.maxStep}}" ng-change="changeStep(values.step)">
          <a href="" class="button button-clear button-balanced icon ion-plus-round" ng-click="changeStep(values.step + 1)"></a>
        </div>
      </div>
    </div>

    <div class="row" ng-if="values.P">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">i</span>
          <span>{{values.step}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">P<sub>{{values.step}}</sub></span>
          <span>{{values.P}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Q<sub>{{values.step}}</sub></span>
          <span>{{values.Q}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">q<sub>{{values.step}}</sub></span>
          <span>{{values.q}}</span>
        </label>
      </div>
    </div>

    <!-- <ion-scroll direction="xy" class="euklid-table" ng-if="euklid">
      <div class="row">
        <div class="col">
          <table class="table-numbers">
            <tr>
              <th>a</th>
              <th></th>
              <th>b</th>
              <th></th>
              <th>q</th>
              <th></th>
              <th>r</th>
            </tr>
            <tr ng-repeat="step in euklid">
              <td class="a">{{step.a}}</td>
              <td>&nbsp;=&nbsp;</td>
              <td class="b">{{step.b}}</td>
              <td>&nbsp;×&nbsp;</td>
              <td class="q">{{step.q}}</td>
              <td>&nbsp;+&nbsp;</td>
              <td class="r">{{step.r}}</td>
            </tr>
          </table>
        </div>
      </div>
    <ion-scroll> -->
    
  </ion-content>
</ion-view>