<ion-view title="Kanonický rozklad">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="PrimeCtrl">

    <div class="row">
      <div class="col">
          <label class="item item-input">
            <input type="tel" ng-model="values.number" placeholder="Číslo" ng-enter="decompose()">
          </label>
        </div>
        <div class="col">
          <button class="button button-block icon-left ion-calculator button-positive" ng-click="decompose()">
            Vypočítej
          </button>
        </div>
    </div>

    <div class="row" ng-if="values.calculated != undefined">
      <h4 class="col">
        {{values.calculated}} =
        <span class="decomposed" ng-repeat="prime in values.primes">
          {{prime}}<sup>{{values.multiples[prime]}}</sup>
        </span>
      </h4>
    </div>
    
  </ion-content>
</ion-view>