<ion-view title="Kanonický rozklad">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="PrimeCtrl">

    <div class="list">
      <div class="item item-input-inset">
        <label class="item item-input">
          <input type="tel" ng-model="number" placeholder="Číslo">
        </label>
        <button class="button icon-left ion-calculator button-positive" ng-click="decompose(number)">
          Vypočítej
        </button>
      </div>
    </div>

    <div ng-if="decomposed">
      {{calculated}} =
      <span class="decomposed" ng-repeat="prime in primes">
        {{prime}}<sup>{{multiples[prime]}}</sup>
      </span>
    </div>
    
  </ion-content>
</ion-view>