span.decomposed+span.decomposed:before
{
  content: ' \00D7 ';
}

span.divider
{
  font-weight: bold;
}

.table-numbers
{
  font-size: 24px;
}

.table-numbers th
{
  font-weight: bold;
  border-bottom: 1px solid black;
}

.table-numbers td
{
  text-align: right;
}

.row .col .button-block
{
  margin:0px;
}

.button-margin
{
  margin-right:5px;
  margin-bottom:5px;
}

.euklid-table {
  overflow: scroll;
  white-space: nowrap;
  position:absolute; 
  top:140px;
  bottom: 0;
  left: 0;
  right: 0;
}
